{% extends "base.html" %}
{% load static %}

{% block title %}Каталог для дропшиперів • TwoComms{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dropshipper.css' %}?v=5">
{% endblock %}

{% block content %}
<div class="ds-shell">
  {% include "partials/dropshipper_sidebar.html" with active_tab="products" %}

  <main class="ds-main" data-tab-container>
    <section class="ds-tab-panel is-active" data-tab-panel="products" data-products-url="{% url 'orders:dropshipper_products' %}">
      {% include "partials/dropshipper_products_panel.html" %}
    </section>
  </main>
</div>

{% include "partials/dropshipper_modals.html" %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/dropshipper.js' %}?v=6"></script>
<script src="{% static 'js/dropshipper.dashboard.js' %}?v=6"></script>
{% endblock %}
