{% extends "base.html" %}
{% load static %}

{% block title %}Статистика дропшипера - TwoComms{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dropshipper.css' %}">
{% endblock %}

{% block content %}
<div class="ds-shell">
  {% include "partials/dropshipper_sidebar.html" with active_tab="statistics" %}

  <main class="ds-main" data-tab-container>
    <section class="ds-tab-panel is-active" data-tab-panel="statistics">
      {% include "partials/dropshipper_statistics_panel.html" %}
    </section>
  </main>
</div>

{% include "partials/dropshipper_modals.html" %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/dropshipper.js' %}"></script>
<script src="{% static 'js/dropshipper.dashboard.js' %}"></script>
{% endblock %}
