{% extends "base.html" %}
{% load static %}
{% load compress %}

{% block title %}Виплати дропшипера - TwoComms{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dropshipper.css' %}?v=20251021" media="all">
{% endblock %}

{% block content %}
<div class="ds-shell">
  {% include "partials/dropshipper_sidebar.html" with active_tab="payouts" %}

  <main class="ds-main" data-tab-container>
    <section class="ds-tab-panel is-active" data-tab-panel="payouts">
      {% include "partials/dropshipper_payouts_panel.html" %}
    </section>
  </main>
</div>

{% include "partials/dropshipper_modals.html" %}
{% endblock %}

{% block extra_js %}
{% compress js %}
<script src="{% static 'js/dropshipper.js' %}" defer></script>
<script src="{% static 'js/dropshipper.dashboard.js' %}" defer></script>
<script src="{% static 'js/dropshipper-product-modal.js' %}" defer></script>
{% endcompress %}
{% endblock %}
